---
title: doutrina.org
layout: base
---

<h1>💧 doutrina.org</h1>
<p>Estudos Integrados da Doutrina Espírita</p>

<h2>Obras</h2>
<ul>
  <li>
    <a href="/books/1-lde/1-lde-full/">
      👻 O Livro dos Espíritos — Versão Completa
    </a>
  </li>
</ul>

<p><small>Eleventy + Markdown • Em desenvolvimento</small></p>
